.detail {
    &__header {
        display: grid;
        grid-template-columns: 4fr 1fr;
        font-weight: 600;
        > div {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }
    }
    &__images {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 0.25rem;
        img {
            width: 100%;
            border-radius: 0.5rem;
        }
    }
    &__footer {
        display: grid;
        grid-template-columns: 7fr 3fr;
        gap: 1rem;
    }
}

.credit {
    background-color: #ebf3ff;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
